Package: com.ikilledappl3.swipe2rec
Name: Swipe2Rec
Depends: mobilesubstrate, ws.hbang.common
Version: 1.0.1
Architecture: iphoneos-arm
Description: Record your screen with just a swipe on the StatusBar!
Maintainer: iKilledAppl3 <ipodnewbee234@icloud.com>
Author: iKilledAppl3 <ipodnewbee234@icloud.com>
Section: Tweaks
